:root {
  --color-fondo: rgb(0, 4, 52);
}


footer{
  background-color: var(--color-fondo);
  padding: 20px 10px 20px 10px;
  text-align: center;
}

.about-us{
  margin-top: 20px;
}

.about-us{
  font-size: 1rem;
  margin-bottom: 10px;
  color: white;
}

.about-us img {
  width: 70%;
  margin-bottom: 10px;
}

.footer--texto-parrafo{
  font-size: .9rem;
  color: white;
  padding: 10px 0px;
}

.footer--links {
  text-decoration: none;
  font-size: .9rem;
  margin-bottom: 0px;
  padding: 0px;
  color: white;
}

.social-icons a{
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a.facebook:hover{
  color: rgb(59, 89, 152);
}

.social-icons a.twitter:hover{
  color: rgb(0, 172, 238);
}

.social-icons a.instagram:hover{
  color: rgb(193, 53, 132);
}

.social-icons a.whatsapp:hover{
  color: rgb(0, 187, 45);
}

@media only screen and (max-width: 600px) {
  .social-icons a {
    font-size: 16px;
    margin: 0 8px;
  }

  .about-us h3 {
    font-size: 16px;
  }

  .about-us p {
    font-size: 12px;
  }
}