:root {
    --color-fondo-navbar: rgb(0, 4, 52);
}

.bg-darkblue {
    background-color: var(--color-fondo-navbar);
    color: whitesmoke;
}
.dropdown-item:hover {
    background-color: var(--color-fondo-navbar);
    color: whitesmoke;
}

.navbar--icono {
    width: 20px;
    height: 20px;
}

.navbar--logotipo{
    max-height: 30px;
}

.nav-link {
    color: rgba(255,255,255,.800);
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: whitesmoke;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
}
  
.navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
